In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Tanmay49/SEM7/main/ML/emails.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [3]:
df.shape

(5172, 3002)

In [4]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [5]:
# Now we have to make classification models and the data is already
# preprocessed for email spam
# directly train test and split
# for that our predicted varable is the last column- 'Prediction'
# and the input data does not require the 'Email No' column

In [6]:
# Input Data
x = df.drop(['Email No.', 'Prediction'], axis=1)
# Output Data
y = df['Prediction']

In [7]:
# All Import Statements
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.svm import SVC

In [8]:
# Spliting dataset
X_train, X_test, y_train, y_test = train_test_split(x,y)

In [9]:
# K nearest neighbors classification model
model=KNeighborsClassifier(n_neighbors=2) # default: n_neighbors=5
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [10]:
# K nearest neighbors classification model metrics
# accuracy_score(y_test,y_pred)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91       895
           1       0.84      0.72      0.78       398

    accuracy                           0.87      1293
   macro avg       0.86      0.83      0.84      1293
weighted avg       0.87      0.87      0.87      1293

In [11]:
# Support Vector Machines - support vector classifier
model = SVC(kernel='linear')
model.fit(X_train, y_train)
y_pred=model.predict(X_test)

In [12]:
# Support Vector Machines - support vector classifier metrics
accuracy_score(y_test,y_pred)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.96      0.97       895
           1       0.91      0.94      0.92       398

    accuracy                           0.95      1293
   macro avg       0.94      0.95      0.95      1293
weighted avg       0.95      0.95      0.95      1293